h1 {
  color: green;
  text-align: center;
}

.highlighted {
  background-color: yellow;
}

.playable {
  background-color: rgb(226, 67, 67);
}

.unplayable {
  background-color: whitesmoke;
}



.square {
  font-size: 6em;
  height: 1em;
  width: 1em;
  line-height: 1em;
  padding: 0;
}
