h1 {
  color: green;
  text-align: center;
}

.selected {
  background-color: rgb(111, 210, 243);
}

.highlighted {
  background-color: yellow;
}

.playable {
  background-color: rgb(226, 67, 67);
}

.unplayable {
  background-color: whitesmoke;
}

.square {
  font-size: 6em;
  height: 1em;
  width: 1em;
  line-height: 1em;
  padding: 0;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  outline: none
}
